body {
  // // zobrazí jména
  // .displayNameContainer {
  //   visibility: visible !important;
  // }

  // // nastyluje jména
  // .displayNameContainer .displayname {
  //   background-color: #fff9c4;
  //   color: #000;
  //   font-weight: bold;
  //   display: block;
  //   top: 14px;
  //   right: 8px;

  //   width: 18ex;
  //   width: fit-content;
  //   max-width: 30ex;

  //   border-radius: 10px;
  //   padding-right: 8px;
  //   padding-left: 8px;
  //   text-align: left;
  //   left: 50px;
  //   text-transform: capitalize;
  // }

  // // aktivní speaker -> červené orámování
  // .tile-view .active-speaker {
  //   box-shadow: 0 0 0 5px #f44336;
  // }

  // // skryje ikonu aktivního speakera -> používáme červené orámování
  // #dominantspeakerindicator {
  //   display: none !important;
  // }

  .videocontainer__toptoolbar .hide-connection-indicator {
    display: inline-block;
  }

  // skryje připojení pokud není problém
  .connection-indicator.indicator.status-high {
    visibility: hidden;
  }

  .connection-indicator.indicator.status-high:hover {
    visibility: visible;
  }

  // zvětšení indikátorů + jiná barva
  .videocontainer {
    .audioindicator-container .audiodot-bottom,
    .audioindicator-container .audiodot-middle,
    .audioindicator-container .audiodot-top,
    .audioindicator .audiodot-bottom,
    .audioindicator .audiodot-middle,
    .audioindicator .audiodot-top {
      width: 10px;
      height: 10px;
    }

    .audioindicator-container .audiodot-bottom::after,
    .audioindicator-container .audiodot-middle::after,
    .audioindicator-container .audiodot-top::after,
    .audioindicator .audiodot-bottom::after,
    .audioindicator .audiodot-middle::after,
    .audioindicator .audiodot-top::after {
      width: 10px !important;
      height: 10px !important;
      background-color: #fff9c4 !important;
      border: 2px solid #000;
    }
  }

  // skryté logo, ať jdou vidět poslední studenti
  .leftwatermark,
  .watermark {
    visibility: hidden !important;
  }

  // pokud je na výšku, zvětšíme
  // @media screen and (orientation: portrait) and (min-width: 1200px) {
  //   .tile-view #filmstripRemoteVideosContainer {
  //     max-width: 800px;
  //     zoom: 1.5;
  //   }
  // }
}

#lastTalking {
  position: absolute;
  top: 5px;
  left: 5px;
  // margin-bottom: 5px;
  // z-index: 100;
  // min-width: 200px;
  // min-height: 50px;

  div {
    color: #000;
    font-weight: bold;
    background-color: #fff9c4;
    padding-right: 8px;
    padding-left: 8px;
    border-radius: 10px;
  }

  // &:hover {
  //   z-index: -1;
  // }
}

body:hover #refreshButton {
  bottom: 0.5rem;
  left: 0.5rem;
  position: absolute;
  width: 1.25rem;
  height: 1.25rem;
  background: transparent;
  opacity: 0.5;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 329.028 329.028' xml:space='preserve'%3E%3Cpath d='m241.852 72.459 10.847-54.533c1.184-5.95-1.334-12.028-6.378-15.398-5.045-3.37-11.623-3.37-16.667 0L156.182 51.62l-.012.009c-.415.278-.817.576-1.201.893-.219.181-.418.377-.625.568-.148.137-.304.265-.447.408-.249.25-.478.514-.707.778-.088.101-.183.196-.268.299-.208.253-.396.519-.586.783-.095.132-.197.259-.288.394-.155.232-.292.473-.433.712-.109.185-.225.365-.327.554-.104.195-.192.397-.288.597-.118.245-.24.487-.344.739-.064.156-.115.317-.174.475-.112.299-.227.598-.32.906-.042.137-.069.276-.106.414-.09.329-.181.658-.248.996-.045.223-.068.45-.103.675-.038.252-.088.501-.113.758-.051.498-.075.998-.076 1.5 0 .004-.001.009-.001.013 0 .058.008.113.009.17.004.437.023.874.066 1.311.016.156.045.307.065.461.043.332.086.664.151.994.042.212.102.418.152.627.064.264.124.529.204.791.077.256.173.503.264.753.076.208.143.418.229.624.126.305.272.598.418.892.072.146.134.295.211.438.203.379.426.745.66 1.104.036.055.064.113.1.167l.019.028.03.045 49.044 73.401c2.817 4.217 7.525 6.667 12.47 6.667.971 0 1.952-.094 2.928-.288 5.951-1.184 10.602-5.835 11.786-11.786l7.052-35.455c23.901 20.188 39.11 50.36 39.11 84.023 0 60.636-49.331 109.968-109.967 109.968-60.637 0-109.969-49.332-109.969-109.968 0-40.179 21.91-77.153 57.179-96.494 7.264-3.983 9.923-13.101 5.94-20.365-3.983-7.264-13.101-9.924-20.365-5.94-44.877 24.612-72.755 71.665-72.755 122.801 0 77.178 62.79 139.968 139.969 139.968 77.178 0 139.967-62.79 139.967-139.968 0-48.607-24.911-91.5-62.63-116.601z' fill='%23fff' /%3E%3C/svg%3E");
  background-repeat: no-repeat;
  border: 0;
  padding: 0;

  &:hover {
    filter: invert(1);
  }
}

#refreshIframe {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 2rem;
  height: 2rem;
  z-index: 3;
  border: 0;
  padding: 0;
  margin: 0;
}

// right click menu
.menu {
  background: #fff;
  border-radius: 0.1rem;
  box-shadow: 0 0.05rem 0.2rem rgb(48 55 66 / 30%);
  list-style: none;
  margin: 0;
  min-width: 180px;
  padding: 0.4rem;
  transform: translateY(0.2rem);
  z-index: 300;
  position: absolute;

  & .menu-item {
    margin-top: 0;
    padding: 0 0.4rem;
    position: relative;
    text-decoration: none;

    & > a {
      border-radius: 0.1rem;
      color: inherit;
      display: block;
      margin: 0 -0.4rem;
      padding: 0.2rem 0.4rem;
      text-decoration: none;
      color: #302ecd;
      font-weight: 400;
      font-size: 1rem;

      &.active,
      &:active {
        background: #f1f1fc;
        color: #5755d9;
      }
      &:focus,
      &:hover {
        background: #f1f1fc;
        color: #5755d9;
      }
    }
  }
}

.divider {
  border-top: 0.05rem solid #f1f3f5;
  height: 0.05rem;
  margin: 0.4rem 0;

  &[data-content] {
    margin: 0.8rem 0;

    &::after {
      background: #fff;
      color: #bcc3ce;
      content: attr(data-content);
      display: inline-block;
      font-size: 0.7rem;
      padding: 0 0.4rem;
      transform: translateY(-0.65rem);
    }
  }
}

#pictureInPictureButton {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  cursor: pointer;

  &:hover {
    background-color: #ffffff38;
  }
}

#pictureInPictureButtonInner {
  background-color: #ff0000c2;
  font-size: 12px;
  padding: 5px;
  color: #fff;
}

#sharingInfo {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: auto;
  background-color: #ff0000c2;
  font-size: 12px;
  padding: 5px;
  color: #fff;
  cursor: pointer;
}
